body, header, h1, img, div, form, input, table {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -70px;
}

.clear {
    clear: both;
}

#end {
    height: 70px;
}

#copyright {
    background-color: #ccc;
    text-align: center;
    height: 70px;
    padding-top: 20px;
}